body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #191823;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: #fff;
	min-height: 100vh;
	margin: 0;
	box-sizing: border-box;
}
